.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0;
}

.item.list-group-item .caption {
    padding: 9px 9px 0 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}


.hidden-card {
    display: none;
}

.type {
    display: none;
}

.producer {
    display: none;
}

.filter-on {
    background-color: #ff142b;
}

.filter {
    background-color: grey;
}

#header{
    background-image: url("/static/img/header.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-bottom: #111111 solid;
    border-bottom-width: 20px;
}
body{
    background-color: RGB(68, 184, 172);
}
#footer{
    color: white;
    background-color: #111111;
    border: none;
}
#btn-cart{
    background: url("/static/img/emptyCart.resized.png") no-repeat center;
    border: none;
    width: 100px;
    height: 100px;
}
#btn-cart:hover{
    transform: scale(1.5);
}

.divider{
    width:865px;
    display:inline-block;
}
.divider-natural{
    height: 5px;
    display: inline-block;
}

.card-top{
    max-width: 200px;
    min-width: 200px;
    height: 300px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.sidebar-text {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 2%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    vertical-align: text-top;
    font-size: 35px;
    font-weight: revert;
    color: white;
    font-family: "Liberation Mono";
    writing-mode: vertical-rl;
}

.sidebar-text > span{
    float:left;
    -webkit-transform: rotate(-90deg);
    margin-bottom: 3%;
    margin-top: 3%;
}
#background{
    background-image: url("/static/img/xUP3tf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.card opacity{
    opacity: 0.5%;
    border: 15px solid #111111; !important;
}
#card {
    border: #111111 solid 3px;
    background: none;
}

